__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
env/
venv/
ENV/
env.bak/
venv.bak/
logs/
*.log
.git/
.gitignore
.gitattributes
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Dockerfile
.dockerignore
docker-compose.yml
*.tmp
*.bak
*~
